.container {
  display: flex;
  padding: 92px;
  background-color: var(--color-black05);
}

.form {
  width: 432px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 24.35px;
}

.form strong {
  font-size: 18px;
  font-weight: 700;
}

@media screen and (max-width: 768px){
  .container {
    padding: 45px 0 61px;
  }

  .form {
    width: 275px;
  }

  .form strong {
    font-size: 16px;
  }
}

@media screen and (max-width: 425px){
  .container {
    padding: 97px 0 76px;
  }
}