.container {
    max-width: var(--max-width);
    margin: 64px auto;

    padding: 0 32px;
}

.titleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titleContainer h3 {
    font-size: 32px;
    font-weight: 700;
}

.titleContainer a {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 8px;

    font-size: 16px;
    font-weight: 700;
    color: var(--color-blue100);
}

.productsList {
    margin-top: 16px;

    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    
    gap: 16px;
    
    list-style: none;
}

.productsList li {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.productsList li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 88 / 87;
}

.productsList li span {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-black100);
}

.productsList li strong {
    font-size: 16px;
    font-weight: 700;
    color: var(--color-black100);
}

.productsList li a {
    font-size: 16px;
    font-weight: 700;
    color: var(--color-blue100);
}

@media screen and (max-width: 768px) {
    .container {
        margin: 32px auto;
    }

    .productsList {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .titleContainer h3 {
        font-size: 22px;
    }

    .productsList li img {
        aspect-ratio: 82 / 87;
    }
}


@media screen and (max-width: 425px) {
    .container {
        margin: 16px auto;
        padding: 0 16px;
    }

    .productsList {
        grid-template-columns: 1fr 1fr;
    }

    .productsList li img {
        aspect-ratio: 26 / 29;
    }
}