.container {
    height: 352px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url(../assets/banner-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    flex-flow: column-reverse;
}

.innerContainer {
    max-width: var(--max-width);
    width: 100%;
    margin: 0 auto;

    padding: 0 32px 32px;
}

.container h2 {
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 16px;
    color: var(--color-white);
}

.container p {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 16px;
    color: var(--color-white);
}

@media screen and (max-width: 425px) {
    .container {
        height: 192px;
    }

    .container h2 {
        font-size: 22px;
        margin-bottom: 8px;
    }
    
    .container p {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 8px;
    }

    .innerContainer {
        padding: 0 16px 16px;
    }
}