.button {
    border: none;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.transparent {
    border: 1px solid var(--color-blue100);
    background-color: transparent;
    color: var(--color-blue100);
}

.transparent:hover {
    background-color: var(--color-blue20);
}

.blue {
    background-color: var(--color-blue100);
    color: var(--color-white);
}

.blue:hover {
    background-color: var(--color-blue80);
}

.sm {
    padding: 16px;
}

.md {
    padding: 16px 70px;
}

.lg {
    padding: 20.5px 185.5px;
}

.fill {
    padding: 16px 0;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .responsivity {
        font-size: 14px;
        font-weight: 600;
    }

    .sm {
        padding: 12px 16px;
    }
    
    .md {
        padding: 12px 64px;
    }

    .lg {
        padding: 12px 34px;
    }
}

@media screen and (max-width: 425px) {
    .md {
        padding: 12px 47.5px;
    }
}