.container {
    background-color: var(--color-blue10);
}

.innerContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 64px 32px;
}

.logoNavContainer {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 16px 112px;
    min-width: 254px;
}

.nav ul {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.nav a {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-black100);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 560px;
}

.form textarea {
    height: 82px;
}

.form button {
    align-self: flex-start;
}

.developedBy {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 32px 0;
}

.developedBy span {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-black100);
}

.textareaMarginTop {
    margin-top: 8px;
}

.error {
    height: 16px;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    color: var(--color-red100);
}

@media screen and (max-width: 768px) {
    .innerContainer {
        padding: 32px;
        gap: 16px;
    }

    .logoNavContainer {
        flex-direction: column;
    }
    
    .form {
        max-width: 434px;
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .innerContainer {
        padding: 16px;
        gap: 32px;

        flex-direction: column;
    }

    .logoNavContainer {
        align-items: center;
        text-align: center;
    }
}